{% extends "main/base.html" %}

{% block title %}Enter new password{% endblock %}

{% block body %}
<div class="px-4 py-3 my-5"></div>
<h1 class="display-4 mb-3 text-center">Please enter your new password</h1>
<form action="" method="post">
    {% csrf_token %}
    <div class="row w-50 m-auto mt-4">

        <div class="col">
            <div class="form-floating">
                {{ form.new_password1 }}
                <label for="floatingPassword">Password</label>
            </div>
        </div>

        <div class="col">
            <div class="form-floating">
                {{ form.new_password2 }}
                <label for="floatingPassword" class="">Password again</label>
            </div>
        </div>
    </div>
    <div class="row w-25 m-auto mt-4 ">
        <button class="btn btn-dark btn-lg" type="submit">Change password</button>
    </div>
</form>

{% endblock %}