{% extends 'main/base.html' %}
{% load static %}
{% block title %} Forgot password? {% endblock %}
{% block body %}

<div class="px-4 py-3 my-5"></div>
<h1 class="display-4 mb-3 text-center">Reset password</h1>
<p class="lead text-center">Enter your e-mail address to obtain a new password.</p>
<form method="post">
    <div class="row w-50 m-auto ">
        <div class="col">
            <div class="form-floating mt-3">
                {{ form.email }}
                <label for="floatingEmail">Email</label>
            </div>
        </div>
    </div>
    {% csrf_token %}
    <div class="row w-25 m-auto mt-4 ">
        <button class="btn btn-dark btn-lg" type="submit">Send</button>
    </div>

</form>


{% endblock %}