{% extends 'main/base.html' %}
{% load static %}

{% block title %} Home {% endblock %}

{% block body %}
<!--  Превью   -->

<header style=" position: fixed;
width: 100%;
left: 0;
top: 0;">
    <div class="px-3 py-2 text-bg-dark">
        <div class="container ">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                {% if user.is_authenticated %}
                <a href="#" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">

                    <h1>TimarTodo</h1>
                </a>
                {% else %}
                <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">

                    <h1>TimarTodo</h1>
                </a>
                {% endif %}

                <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                    <li>
                        {% if user.is_authenticated %}
                        <a href="#" class="nav-link text-white">
                            {% else %}
                            <a href="{% url 'index' %}" class="nav-link text-white">
                                {% endif %}

                                <svg class="bi d-block mx-auto mb-1" width="24" height="24" fill="currentColor"
                                    class="bi bi-house-door" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z" />
                                </svg>
                                Home
                            </a>
                    </li>
                    <li>
                        <a href="{% url 'examples' %}" class="nav-link text-white">

                            <svg class="bi d-block mx-auto mb-1" xmlns="http://www.w3.org/2000/svg" width="24"
                                height="24" fill="currentColor" class="bi bi-grid" viewBox="0 0 16 16">
                                <path
                                    d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z" />
                            </svg>
                            Examples

                        </a>
                    </li>
                    <li>
                        <a href="{% url 'support' %}" class="nav-link text-white">
                            <svg class="bi d-block mx-auto mb-1" xmlns="http://www.w3.org/2000/svg" width="24"
                                height="24" fill="currentColor" class="bi bi-info-lg" viewBox="0 0 16 16">
                                <path
                                    d="m9.708 6.075-3.024.379-.108.502.595.108c.387.093.464.232.38.619l-.975 4.577c-.255 1.183.14 1.74 1.067 1.74.72 0 1.554-.332 1.933-.789l.116-.549c-.263.232-.65.325-.905.325-.363 0-.494-.255-.402-.704l1.323-6.208Zm.091-2.755a1.32 1.32 0 1 1-2.64 0 1.32 1.32 0 0 1 2.64 0Z" />
                            </svg>

                            Support
                        </a>
                    </li>

                    <li>
                        {% if user.is_authenticated %}
                        <a href="{% url 'profile' user.pk %}" class="nav-link text-white">
                            {% else %}
                            <a href="{% url 'login' %}" class="nav-link text-white">
                                {% endif %}
                                <svg class="bi d-block mx-auto mb-1" xmlns="http://www.w3.org/2000/svg" width="24"
                                    height="24" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                    <path fill-rule="evenodd"
                                        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                                </svg>
                                {% if user.is_authenticated %}
                                {{ user.username }}
                                {% else %}
                                Account
                                {% endif %}
                            </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-5" src="{% static 'main/img/logo.jpg' %}" alt="" width="200" height="70">
    <h1 class="display-5 fw-bold">Welcome to TimarTodo</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Hello, this is TimarTodo. Here you can create diaries, calendars, lesson schedules and much
            more.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="{% url 'login' %}" type="button" class="btn btn-dark btn-lg px-4 gap-3">Sign in</a>
            <a href="#first" type="button" class="btn btn-outline-primary btn-lg px-4">More...</a>
        </div>
    </div>
</div>
<!-- Конец превью -->
<!---->


<!--  Второй слайд  -->
<a name="first">
    <div class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                <h1 class="display-4 fw-bold lh-1">What is your fantasy capable of?</h1>
                <p class="lead">Create, experiment, modify your projects and tasks and share with other users!</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                    <a href="{% url 'login' %}"><button type="button"
                            class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Create task</button></a>
                    <a href="#about"> <button type="button" class="btn btn-outline-secondary btn-lg px-4">About
                            us</button></a>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
                <img class="rounded-lg-3" src="{% static 'main/img/calendar.jpg' %}" alt="" width="700px">
            </div>
        </div>
    </div>
</a>


<!-- Конец второго слайда-->
<!-- Начало 3 колонок-->



<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Our abilities</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
            <div
                class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" fill="currentColor"
                    class="bi bi-person-fill" viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                </svg>

            </div>
            <h2>Personal office</h2>
            <p>You have access to a personal account in which all your projects, tasks are stored.</p>
            <a href="#" class="icon-link d-inline-flex align-items-center">
                Read more...

            </a>

        </div>
        <div class="feature col">
            <div
                class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" fill="currentColor"
                    class="bi bi-list-check" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3.854 2.146a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 3.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 7.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z" />
                </svg>
            </div>
            <h2>Examples</h2>
            <p>Timar Todo provides a large number of templates, based on which you can create your projects and
                assignments.</p>
            <a href="#" class="icon-link d-inline-flex align-items-center">
                Read more...

            </a>
        </div>
        <div class="feature col">
            <div
                class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#toggles2"></use>
                </svg>
            </div>
            <h2>Featured title</h2>
            <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and
                probably just keep going until we run out of words.</p>
            <a href="#" class="icon-link d-inline-flex align-items-center">
                Read more...

            </a>
        </div>
    </div>
</div>
<!-- Конец 3 колонок-->
<a href="" name="about"></a>
<h1 class="display-4 fw-bold text-center" name="about">About Us</h1>
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="{% static 'main/img/ilya.jpg' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                loading="lazy" width="350" height="350">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3 text-center">What is Timar?</h1>
            <img src="{% static 'main/img/logo.jpg' %}" alt="" width="200px" height="70px" class="about"
                style="margin-left: 130px;">


            <p class="lead mt-2">Timar - is a new stage of the Internet. It sounds unexpected, but I'm only 16. Oh yeah,
                this is what will replace Google.</p>
            <figure class="text-end">
                <blockquote class="blockquote-footer">
                    Timar founder , <cite title="Source Title"> Ilya Ternyavsky</cite>
                </blockquote>
            </figure>

        </div>
    </div>
</div>





{% endblock %}