{% extends 'main/base.html' %}
{% load static %}
{% block title %} Account | {{ user.username }} {% endblock %}
{% block body %}

<div class="px-4 py-3 "></div>
<div class="container ">
    <div class="row">
        <div class="col-3">
            <h1 class="display-5">My templates</h1>
        </div>
        <div class="col-6">
    <div class="text-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="170" height="170" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
          </svg>
</div>
 <h1 class="display-2 text-center">{{ user.username }}</h1>
 <div class="row">
     <div class="col">
          <label for="exampleFormControlInput1" class="form-label">Username</label>

        <input class="form-control" type="text" placeholder="{{ user.username }}" aria-label="Disabled input example" disabled>
        <label for="exampleFormControlInput1" class="form-label">First name</label>

        <input class="form-control" type="text" placeholder="{{ user.first_name }}" aria-label="Disabled input example" disabled>
        <a href="{% url 'edit' user.pk %}" class="btn btn-success mt-2 w-100 ">Edit account</a>
     </div>
     <div class="col">
          <label for="exampleFormControlInput1" class="form-label">Email</label>

        <input class="form-control" type="text" placeholder="{{ user.email }}" aria-label="Disabled input example" disabled>
        <label for="exampleFormControlInput1" class="form-label">Last name</label>

        <input class="form-control" type="text" placeholder="{{ user.last_name }}" aria-label="Disabled input example" disabled>
        <button type="button" class="btn btn-danger mt-2 w-100" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Delete account
          </button>
          
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h3 class="modal-title" id="exampleModalLabel">Delete account</h3>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete your account, it will be impossible to restore your data?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                  <a href="{% url 'dp' user.pk %}"><button type="button" class="btn btn-danger">Yes, I'm sure</button></a>
                </div>
              </div>
            </div>
          </div>
          

     </div>
 </div>
 <div class="text-center mt-3">
 <a href="{% url 'logout' %}" class="btn btn-dark w-100">Logout</a>
</div>

</div>

<div class="col offset">
    <h1 class="display-5 text-center">My statistic</h1>
    <div class="col">
      <div class="h-100 p-2 text-bg-success rounded-3">
        <h2 class="text-center">Data registration</h2>
        <p class="text-center">{{ user.date_joined|date:'d F Y' }}</p>
        
    
      </div>
      </div>
 
</div>




{% endblock %}